<footer class="bg-light py-5">
<div class="container ">
    <h4>Get the FreshCart app</h4>
    <p class="text-muted" >We will send your a link, open it your phone to download the app</p>

    <div id="form" class="row mb-5">
        <div class="col-md-9">
            <input type="email" class=" form-control" placeholder="Email..." >

        </div>
        <div class="col-md-3">
            <button class="btn btn-success ">Share app link </button>

        </div>
        
        </div>
       

        <div id="footer" class="row align-items-center border rounded-4 py-2">
            <div id="payment" class="col-md-6 d-flex justifay-content-between align-items-center">
                <p class="mb-0 me-2">Payment Partners</p>
                <img class="w-50 h-25" src="assets/images/payments.png" alt="">
            </div>
            <div id="download" class="col-md-6 d-flex justifay-content-between align-items-center">
                <p class="mb-0 me-2" >Get deliveries with FreshCart</p>
                <img class="w-50 h-25" src="assets/images/download-app.png" alt="">
            </div>
        </div>
        <br>
        <h4 class="h6 text-center"> &copy; 2023 Aya Adel Elhussieny All Rights Reserved </h4>

</div>

</footer>