<nav class="navbar navbar-expand-lg position-fixed start-0 end-0 bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" routerLink="Home"><img src="assets/images/freshcart-logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="isLoggedIn" class="menu navbar-nav m-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="'/Home'" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/Cart'" routerLinkActive="active">Cart</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/Wish-list'" routerLinkActive="active">Wish List</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/Products'" routerLinkActive="active">Products</a>
          </li>
         <li>
            <a class="nav-link" [routerLink]="'/Categories'" routerLinkActive="active">Categories</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/Brands'" routerLinkActive="active">Brands</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/allorders'" routerLinkActive="active">All Orders</a>
          </li>
        </ul>
       



        <ul class="setting navbar-nav ms-auto mb-2 mb-lg-0">

          <li *ngIf="isLoggedIn" class="nav-item position-relative me-2">
            <a id="iconHeart" class="nav-link"  [routerLink]="'/Wish-list'">
              <i class="fa fa-heart"></i>
              <div class="badge position-absolute">{{numOfWishListItems}}</div>
            </a>
          </li>

            <li *ngIf="isLoggedIn" class="nav-item position-relative me-2">
              <a id="iconCart" class="nav-link"  [routerLink]="'/Cart'">
                <i class="fa fa-shopping-cart"></i>
                <div class="badge position-absolute ms-1">{{numOfCartItems}}</div>
              </a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
              <a class="nav-link" [routerLink]="'/Signup'" routerLinkActive="active">SignUp</a>
            </li>

            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" [routerLink]="'/Login'" routerLinkActive="active">LogIn</a>
              </li>

              <li (click)="logOut()" class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="'/Login'" routerLinkActive="active">LogOut</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>