<div id="forget" class="py-5">
    <div class="container mx-auto  p-5 rounded-3">
        <div class="row align-items-center">
          <div class="col-md-5">
              <img class="w-100" src="assets/images/freshcart-logo.svg" alt="">
    
          </div>
    
          <div class="offset-1 col-md-6">
            <h3 class="m-5">Welcome Back !<br>
                Forget Password</h3>
        <section *ngIf="sectionOne">
         <form [formGroup]="forgetPassForm"  (ngSubmit)="forgetPassword(forgetPassForm)">
            <input  id="email" class="form-control mt-5 mb-3 border-0 border-bottom" type="email" formControlName="email" placeholder="User Email">
            <p *ngIf="errorMsg" class="alert alert-danger mx-auto p-3 text-danger text-center">{{errorMsg}}</p>  
            <p *ngIf="successMsg" class="alert alert-success mx-auto p-3 text-success text-center">{{successMsg}}</p>       
     

            <button id="getPassBtn" class="btn btn-success d-block ms-auto ">
                <!-- <i  class="fa fa-spinner fa-spin"></i> -->
                <span  >Forget Password</span>
            </button>

         </form>
          </section>

          <section *ngIf="sectionTwo">
            <form [formGroup]="resetCodeForm"  (ngSubmit)="resetCode(resetCodeForm)">
               <input  id="resetcode" class="form-control mt-5 mb-3 border-0 border-bottom" type="text" formControlName="resetCode" placeholder="Reset Code">
               <p *ngIf="errorMsg" class="alert alert-danger mx-auto p-3 text-danger text-center">{{errorMsg}}</p>  
               <p *ngIf="successMsg" class="alert alert-success mx-auto p-3 text-success text-center">{{successMsg}}</p>       
        
               <button id="resetcodeBtn" class="btn btn-success d-block ms-auto ">
                       
   
                   <!-- <i  class="fa fa-spinner fa-spin"></i> -->
                   <span  >Reset Code</span>
               </button>
            </form>
             </section>

             <section *ngIf="sectionThree">
                <form [formGroup]="resetPasswordForm"  (ngSubmit)="resetPassword(resetPasswordForm)">
                    <p id="userEmail" *ngIf="email">{{email}}</p>

                   <input  id="resetpassword" class="form-control mt-5 mb-3 border-0 border-bottom" type="password" formControlName="newPassword" placeholder="Reset Password">
                   <p *ngIf="errorMsg" class="alert alert-danger mx-auto p-3 text-danger text-center">{{errorMsg}}</p>  
                   <p *ngIf="successMsg" class="alert alert-success mx-auto p-3 text-success text-center">{{successMsg}}</p>       
            
                   <button id="resetPassBtn" class="btn btn-success d-block ms-auto ">
                           
       
                       <!-- <i  class="fa fa-spinner fa-spin"></i> -->
                       <span  >Reset Password</span>
                   </button>
                </form>
                 </section>
    
        </div>
    
    
    </div>
</div>