#forget{
    background-image: url(/assets/images/light-patten.svg);
}
.container{
    box-shadow: 1px 1px 5px #0aad0a;
background-color: white;
}

input:focus{
    border: none;
    box-shadow: 1px 1px 2px #0aad0a;
}
h1{
    font-weight: 600;
    font-size: 5rem;
    /* color: #0aad0a; */
}
h3{
    color: #0aad0a;

}
#userEmail{
    font-size: 1.5rem;
    color: rgb(46, 46, 214);
    text-align:center;
}


   