*{
    font-family: "Josefin Sans", sans-serif;

}

h2, span,h4{
    color:  #0aad0a;
}
button{
    font-family: "Josefin Sans", sans-serif;
    

}


a{
    text-decoration: none;
    color: white;

}